/* Base Styles (for larger screens) */
.form-container {
  margin: 0 auto;
  height: 100%;
  background: radial-gradient(
    118.65% 79.1% at 51.47% 39.3%,
    rgba(60, 41, 76, 0) 0%,
    rgba(64, 43, 78, 0.32) 32.2%,
    rgba(77, 51, 85, 0.67) 66.61%,
    #613e5f 100%
  );
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: white;
}

.main-container {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 30px;
  max-width: 632px;
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
}

.main-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select {
  outline: none;
  width: 100%;
  padding: 15px;
  font-size: 1.3rem;
  border: 1px solid #ccc;
  border-radius: 35px;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
select::placeholder {
  color: gray;
}
/* Add this CSS to change border color on focus */
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
select:focus {
  border-color: green; /* Change the color to your preferred color */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Optional: Add a subtle box shadow */
  outline: none; /* Optional: Remove the default blue outline */
}

/* Add this CSS to style the placeholder text on focus */
input[type="text"]:focus::placeholder,
input[type="email"]:focus::placeholder,
input[type="tel"]:focus::placeholder,
input[type="number"]:focus::placeholder,
select:focus::placeholder {
  color: black; /* Change the color to your preferred color */
}

.form-radio {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.form-radio label {
  margin-bottom: 5px;
  display: inline-block;
  color: rgb(29, 27, 27);
  font-family: Spartan;
  font-size: 30px;
  font-weight: 200;
}

.form-radio input[type="radio"]:checked + label {
  color: #007bff;
}

button {
  background-color: #007bff;
  width: 100%;
  height: 38px;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
}

.otp-button {
  width: 100%;
  height: 56px;
  background-color: palevioletred;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 1rem;
  transition: background-color 0.3s ease;
}

.otp-button:hover {
  background-color: pink;
}

.submit {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.form-group-otp {
  text-align: center;
  position: relative;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.img-wrapper img {
  width: 100%;
  height: auto;
  max-width: 662px;
}

/* Media Queries - Responsive Design */

@media (max-width: 768px) {
  /* Adjustments for tablets and smaller screens */
  .form-container {
    flex-direction: column;
  }

  .form-radio {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  h2 {
    font-size: 2rem; /* Reduce font size for smaller screens */
  }
  select {
    width: 100%; 
    max-width: 100%; 
    box-sizing: border-box;
  }
  select ,option {
    max-width: 400px;
    max-height: 400px; 
    width: 100%;
    overflow-y: auto; 
  }
  select[name="branch"],
  select[name="Gender"],
  select[name="place"] {
    width: 100%; /* Adjust the width as needed */
  }


  .img-wrapper{
    display: none;
  }
}

@media (max-width: 480px) {
  /* Adjustments for mobile devices */
  .form-container {
    flex-direction: column;
  }

  .form-group {
    margin-bottom: 10px;
  }
  h2 {
    font-size: 1.5rem; /* Further reduce font size for even smaller screens */
  }
  button {
    padding: 10px 20px;
  }

  .otp-button {
    height: 50px;
  }

  .main-container {
    padding: 10px;
  }
}
